<html lang="en">
<% include ../partials/head %>
<body>
	<div class="container center">

		<h1>ScrumBoard v0.1</h1>
		<h2>Sign Up</h2>
		<input class="input form-control" placeholder="Username" id="signInUsername">
		<input class="input form-control" placeholder="Password" id="signInPassword" type="password">
		<button class="btn btn-default" id="signIn">Sign In</button>
		<button class="btn btn-default" id="signUp">Sign Up</button>

	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="signUpModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Sign Up</h4>
	      </div>
	      <div class="modal-body">
	        <form id='signUpForm' action="/signUp" method="post">
	        	<input class='input form-control' id="full_name" type='text' name="full_name" placeholder="Full name" required>
	        	<input class='input form-control' type='text' id="username" name="username" placeholder="Username" required>
	        	<input class='input form-control' type='email' name="email" placeholder="Email" required>
	        	<input class='input form-control' type='password' name="password" placeholder="Password" required>
	        	<input class='input form-control' type='password' name="password_confirm" placeholder="Confirm password" required>
	        	<input class="btn btn-default btn-lg" id="signUpFormButton" type="submit">
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script>

	$(document).ready(function() {

		//Enter key press
		$('#signInUsername').keypress(function(event){
		  if(event.keyCode == 13){
		    $('#signIn').click();
		  }
		});

		$('#signInPassword').keypress(function(event){
		  if(event.keyCode == 13){
		    $('#signIn').click();
		  }
		});

		$('#signUp').click(function() {
			$('#signUpModal').modal('show');
		});

		$('#signIn').click(function() {
			console.log("test");
			$('#signIn').attr('disabled', true);
			$.ajax({
				type: 'POST',
				url: '/signIn',
				data: {
					username: $('#signInUsername').val(),
					password: $('#signInPassword').val()
				},
				dataType: "json",
				contentType: "application/x-www-form-urlencoded"

			})
			.done(function(data) {
				console.log(data);
				$('#signIn').attr('disabled', false);
				if(data.type == 'success'){
					location.href = '/teamhome';
				}
				else {
					alert(data.error);
				}

			})
			.fail(function(data) {
				$('#signIn').attr('disabled', false);
				alert('Internal server error');
			});
		});

		$('#signUpForm').submit(function(e) {
			e.preventDefault();
			$('#signUpFormButton').attr('disabled', true);
			$.ajax({
				type: "POST",
				url: "/signUp",
				data: $('#signUpForm').serialize(), 
				dataType: "json",
				contentType: "application/x-www-form-urlencoded"
			})
			.done(function(data) {
				console.log(data);
				$('#signUpFormButton').attr('disabled', false);
				if(data.type == 'success'){
					location.href = '/teamhome';
				}
				else {
					alert(data.error);
				}
			})
			.fail(function(data) {
				alert('Internal server error');
				$('#signUpFormButton').attr('disabled', false);
			});
		});
	});
	</script>
</body>
</html>