<html lang="en">
<% include ../partials/head %>
<body>
 	<script src='/assets/js/socket.io.min.js'></script>
 	<script src='/assets/js/components/editColumnsModal.js'></script>
	<script src='/assets/js/components/editTaskModal.js'></script>
    <script src='/assets/js/components/editStoryModal.js'></script>
    <script src='/assets/js/components/addPersonModal.js'></script>
    <script src='/assets/js/components/person.js'></script>
    <script src='/assets/js/components/task.js'></script>
    <script src='/assets/js/components/story.js'></script>
    <script src='/assets/js/components/board.js'></script>
    <script src='/assets/js/components/burndown.js'></script>
    <script src='/assets/js/components/team.js'></script>
    <script src='/assets/js/components/teampicker.js'></script>
    
    <div id="left-menu">
    	<label class="left-menu-button glyphicon glyphicon-menu-hamburger"></label>
    </div>

    <div id="sidebar" style="display: none;">
    	<span id="sidebar-close" class="glyphicon glyphicon-remove"></span>
    	<a class="sidebar-item" href="/logout">Log Out</a>
    </div>

	<div id="select-div">
	</div>


	<div class="modal fade" tabindex="-1" role="dialog" id="editModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="burndown-container">
		<div id="burndown-toggle">
			Burndown
		</div>
		<div id="burndown" style="display: none;">
			<canvas id="burndown-chart"></canvas>
			<div id="burndown-buttons">
				<button class="btn btn-default btn-lg col-xs-4" id="burndown-start">Mark Start</button>
				<button class="btn btn-default btn-lg col-xs-4"id="burndown-mark">Mark Point</button>
				<button class="btn btn-default btn-lg col-xs-4" id="burndown-undo">Undo Point</button>
			</div>

		</div>
	</div>
</body>
</html>