<head>
    <title>Scrumboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='/assets/js/jquery.min.js'></script>
    <script src='/assets/js/bootstrap.min.js'></script>
    <script src='/assets/js/bootstrap-select.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">




    <script src='/assets/js/components/task.js'></script>
    <script src='/assets/js/components/story.js'></script>
    <script src='/assets/js/components/board.js'></script>
    <script src='/assets/js/components/team.js'></script>
    <script src='/assets/js/components/teampicker.js'></script>


</head>