<head>
    <title>Scrumboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='../../js/jquery.min.js'></script>
    <script src='../../js/bootstrap.min.js'></script>
    <script src='../../js/bootstrap-select.min.js'></script>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/custom.css">


</head>