.center {
	text-align: center;
}

.bootstrap-select{
	width:100% !important;
	/*height:75px;*/
}

.dropdown-toggle{
	/*height:100%;*/
	font-size:35px;
}
.no-results {
	display: none;
}

.btn {
	margin:auto;
	text-align:center;
	display:block;
}

.form-control {
	width:250px;
	margin:0 auto;
	margin-bottom: 15px;
	max-width:100%;
}