.center {
	text-align: center;
}

.bootstrap-select{
	width:100% !important;
	/*height:75px;*/
}

.dropdown-toggle{
	/*height:100%;*/
	font-size:35px;
}
.no-results {
	display: none;
}

.btn {
	margin:auto;
	text-align:center;
	display:block;
}

.form-control {
	width:250px;
	margin:0 auto;
	margin-bottom: 15px;
	max-width:100%;
}

.row {
	clear:both;
}

.progresscol {
	margin:0;
	padding:0;
}

#board {
	margin: 0;
	width:100%;
}

.task {
	border: 1px solid black;
	float: left;
	width:150px;
	max-width:100%;


}

.taskpanel {
	padding:0;
	text-align: center;
	border: 1px solid black;
}