$post-green: #BBF5CC;
$post-blue: #B3E8FF;
$post-yellow: #FFFBD0;

.center {
	text-align: center;
}

#left-menu {
	float: left;
	width: 50px;
	height: 76px;
	border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 10;
	.left-menu-button {
		margin: auto;
		vertical-align: middle;
		text-align: center;
		width: 50px;
		margin-top: 30px;
	}
}

#sidebar {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	z-index: 9;
	padding-top: 50px;

	#sidebar-close {
		position: absolute;
		top: 25;
		left: 15;
		cursor: pointer;
		color: white;
		font-size: 24px;
	}

	.sidebar-item {
		color: white;
		margin: auto;
		text-align: center;
		font-size: 24px;
		display: block;
		max-width: 200px;

	}
}

#select-div {
	float: left;
	width: calc(100% - 50px);
}

.bootstrap-select{
	width:100% !important;

	.dropdown-toggle {
		border-radius: 0;
	}

	.dropdown-menu {
		margin-left: -50px;
		width: 100vw;

		li {
			a:first-of-type {
				padding-right: 0px;
				width: calc(100% - 20px);
				float: left;
			}

			.remove-team {
				width: 20px;;
				height: 29px;
				float: left;
				cursor: pointer;
				text-align: center;
				margin: auto;
				font-size: 20px;
				padding-top: 5px;
				top: 0;
			}
		}

		li.active {
			background-color: #2196f3;

			.remove-team {
				background-color: #2196f3;
			}
		}
	}
	/*height:75px;*/
}

.dropdown-toggle{
	/*height:100%;*/
	font-size:35px;
}
.no-results {
	display: none;
}

.btn {
	margin:auto;
	text-align:center;
	display:block;
}

.form-control {
	width:250px;
	margin:0 auto;
	margin-bottom: 15px;
	max-width:100%;
}

#addStoryButton {
	margin-top: 15px;
	margin-bottom: 40px;
}

#unassignedPeople {
	min-height: 76px;
	width: 100%;
	border-bottom: 1px solid #F1F1F1;
	float: left;
	position: relative;
	padding-left: 10px;
    font-size: 35px;

    div {
    	float: left;
    	position: relative;
    }

    div:first-child {
    	padding-right: 10px;
    }

    #addPersonButton {
    	color: white;
    	margin: auto;

    	.glyphicon-trash {
    		margin-top: 14px;
    		color: red;
    		text-align: center;
    		margin-left: -4px;
    	}
    }
}

.person {
	border-radius: 50%;
	background-color: $post-green;
	width: 64px;
	height: 64px;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	float: left;
	cursor: pointer;
}

#board {
	margin: 0;
	width: 100%;

	.row {
		clear:both;

		.progresscol {
			margin:0;
			padding:0;
			// border-right:1px solid black;
			min-height:50px;
			min-width: 100px;

			h4 {
				padding-left: 10px;
			}
		}

		.done-col {
			border: none;
		}
	}

	.story {
		padding: 15px 0;
	   	border-bottom: 1px solid #eee;

	   	.addTaskButton {
	   		margin: auto;
	   		text-align: center;
	   		margin-top: 5px;
	   		width: 150px;
	   	}
	}

	.story-sticky {
		background-color: $post-blue !important;
	}

	.add-task-sticky {
		background-color: #eee;
		content: '+';
	}

	.task {
		float: left;
		width:200px;
		max-width:100%;
		padding: 5px 1px;
		min-height: 75px;
		min-width: 100px;
		height: 100px;
		margin-bottom: 10px;

		.people-row {
			margin: auto;
			text-align: center;
			margin-top: 5px;
			width: 100%;
			float: left;
			height: 25px;

			.peopleDiv {
				padding: 0;
			}

			.person {
				width: calc(25% - 4px);
				height: 25px;
				margin-right: 4px;
			}

			.person:first-child {
				margin-left: 2px;
			}

			.person:last-child {
				margin-right: 2px;
			}
		}

		.taskpanel {
			height:100%;
			padding:1px;
			text-align: center;
			height: calc(100% - 25px);

			.arrow-row {
				height:33%;
			}

			.arrow {
				top: 45%;
				left: 38%;
				position: absolute;
			}

			.delete {
				top: 0;
				right: 0;
				position: absolute;
			}

		}

		.taskcenter {
			box-shadow: 0px 3px 5px #888888;
			background-color: $post-yellow;
			overflow-y: auto;

			.editCover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.2);

				.glyphicon-pencil {
					vertical-align: middle;
					text-align: center;
					top: 40%;
					color: black;
				}
			}

			.points {
				position: absolute;
				bottom: 1;
				right: 5;
				font-weight: bold;
				color: black;
			}
		}

		.glyphicon {
			cursor: pointer;
		}
	}

	.story-descr {
		width: 300px;
		height: 125px;
	}
}


.ui-resizable-se.ui-icon-gripsmall-diagonal-se {
	// background-color: black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	bottom: 25px;
}
